// MIXINS && VARIABLES





// LAYOUT
*{
  box-sizing: border-box;
  color: rgb(61, 22, 9);
}

body {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  font-family: 'Pangolin', cursive;
}

#root{
  display: flex;
  justify-content: center;
  height: 95vh;
}

.level-container{
  list-style: none;
  position: absolute;
  top: 25%;
  left: 7.5%;
  font-size: 2vw
}
.level-container > li{
  padding: 3%;
  width: 8vw
}

#outer-typing-cont{
  top: 25%;
  width: 60%;
  height: 70%;
  background-color: rgb(247, 222, 189);
  background-image:linear-gradient(to bottom right, rgba(250, 203, 203, 0.3), rgba(248, 247, 179, 0.3));
  border-left: 5px solid brown;
  border-right: 5px solid brown;
  border-bottom: 5px solid brown;
  border-top: 15px solid darkgreen;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
  box-shadow: 3px 0 rgb(158, 151, 151);

}

.CodeMirror{
  resize: none;
  outline: none;
  border: 1px solid brown;
  border-radius: 20px;
  font-size: 2vw;
  padding: 2% 3%;
  width: 70%;
  height: 100%;
  overflow: hidden;
}



.button-style{
  padding: 8% 0;
  background-color: rgb(169, 224, 169);
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 40%;
  height: 5%;
  margin-left: 7%;
  font-size: 3vw;
  font-weight: bold;
  box-shadow: 1px 10px rgb(173, 165, 165);

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.button-style:hover{
  background-color: rgb(104, 173, 104);
  color: white;
  cursor: pointer;
  
}
.button-style:active{
  box-shadow: 0 4px rgb(158, 151, 151);
  transform: translateY(2px);
}
.button-down{
  color: white;
  box-shadow: 0 4px rgb(158, 151, 151);
  transform: translateY(2px);
}


.box{
  font-size: 3vw;
  font-weight: bold;
}
.correct{
  color: green;
}
.incorrect{
  color: red;
}

#output-box{
 text-align: center;
}

#response-box{
  width: 90%;
  height: 50%;
  display: flex;
  align-items: center;
}

.button-correct{
  background-color: rgb(104, 173, 104);
  color: white;
}
.button-correct:hover{
  background-color: rgb(89, 150, 89);
  color: white;
}
.button-correct:active{
  background-color: rgb(89, 150, 89);
}

.button-incorrect{
  background-color: rgb(255, 44, 44);
  color: white;

}
.button-incorrect:hover{
  background-color: rgb(189, 33, 33);
}
.button-incorrect:active{
  background-color: rgb(189, 33, 33);
}